:root {
  --orange: #ee6b2f;
  --black-orange: #ff0000;
  --black: #141414;
  --yelow: #daa31c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* conteúdo base */
body {
  background: var(--black);
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.container {
  margin: 20px;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--orange);
  font-family: "open sans", sans-serif;
  font-size: 40px;
}

header .line {
  display: none;
  border: 1px solid var(--yelow);
  width: 25%;
  margin: 10px 0;
}

header nav a {
  text-decoration: none;
  color: var(--orange);
  margin-right: 10px;
}

header nav a:hover {
  color: #ffffff;
}

/* conteúdo do filme principal */
.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) 100%),
    url(/Pokeflix/assets/img/pokemon-pricipal.jpg);
  min-height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.main-movie .container {
  width: 70%;
  margin-top: 150px;
  margin-bottom: 150px;
}

.main-movie .title {
  text-transform: uppercase;
  margin-top: 15%;
  font-size: 40px;
  font-family: Roboto, Times, serif;
}

.main-movie .descript {
  margin-top: 10px;
  margin-bottom: 40px;
}

.container .btn {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
}

.container .btn:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease all;
}

.container .btn i {
  margin-right: 8px;
  font-size: 16px;
  color: var(--orange);
}

/* carousel */

.movie-carousel {
  margin-top: 5px;
}

.box-movie {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 8px;
  border: 2px solid var(--orange);
}
