/* menu */
@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  header .line {
    display: block;
  }

  .btn {
    margin-top: 5px;
    width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  .descript {
    width: 50%;
  }
}

@media screen and (min-width: 320px) {
  .btn {
    width: 225px;
  }
  .main-movie .container {
    width: 90%;
  }

  .main-movie .title {
    font-size: 25px;
  }

  .descript {
    width: 90%;
  }
}
@media screen and (min-width: 411px) {
  .main-movie .container {
    width: 90%;
  }

  .main-movie .title {
    font-size: 25px;
  }

  .descript {
    width: 90%;
  }
}
